{% extends 'base.html'%}

{% block title %}
    {{ super() }}
    About
{% endblock %}

{% block content %}
    <div class="content">
        <p>This is a personal project with the collaboration of <a href="https://github.com/Camilu-png">Camilú</a> in the Frontend. </p>
        <p>Calculator Happiness uses a model pre-trained with the dataset <a href="https://www.kaggle.com/unsdsn/world-happiness">The World Happiness</a>.</p>
        <p>If you wish to know more about it, you can go to <strong><code>Source</code></strong> to find the repository of GitHub. And if you want to know about my work visit my <a href="https://github.com/FabianVegaA">GitHub</a> or found me on my social networks, here of below.</p>

    </div>    


{% endblock %}