{% extends 'base.html'%}


{% block title %}
    {{ super() }}
    Welcom
{% endblock %}

{% block content %} 

    <div class="container">
        
        <form action="{{ url_for('calculate') }}" method="POST">
            {{ data_in.name.label }}
            {{ data_in.name }}
            <br/>
            {{ data_in.economy.label }}
            {{ data_in.economy }}
            <br/>
            {{ data_in.family.label }}
            {{ data_in.family }}
            <br/>
            {{ data_in.health.label }}
            {{ data_in.health }}
            <br/>
            {{ data_in.freedom.label }}
            {{ data_in.freedom }}
            <br/>
            {{ data_in.trust.label }}
            {{ data_in.trust }}
            <br/>
            {{ data_in.generosity.label }}
            {{ data_in.generosity }}
            <br/>
            {{ data_in.dystopia.label }}
            {{ data_in.dystopia }}
            <br/>
            {{ data_in.submit }}
            
        </form>
    </div>


    {% if prediction %}

        <p>
            The prediction of happiness of the country {{ country_name }} is:
            <br/>
            {{ prediction }}
        </p>
    {% endif %}
    
{% endblock %} 


